@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Job>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

@foreach(var job in Model.GroupBy(t => t.Name)){
    <li>@job.Key
        <ul>
            @foreach(var item in job)
            {
                <li>
                    @item.Owner.FirstName @item.Owner.LastName
                    @if (item.OwnerId == UserManager.GetUserId(User))
                    {
                        <a href="Home/Delete?uid=@item.Uid">Delete</a>
                    }
                </li>
            }
        </ul>
    </li>
}